body {
    font-family: 'Raleway';
    background-color: #F1EFE9;
}


.menüü {
    display: flex;
    justify-content: space-between;
    background-color: #ADB6C4;
    padding: 20px;
    border-bottom: 3px solid #515357;
    position: relative; 
}

.menüü-asjad {
    display: flex;
    gap: 70px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menüü-asi, .logo {
    color: #272829;
    font-weight: bold;
    text-decoration: none;
}

.menüü-asi {
    font-size: 16px;
}

.logo {
    font-size: 18px;
    margin-right: 10px;
} 

.Toitumine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 60%;
    height: 400px;
    border-bottom: 1px solid #515357;
}

#toit_pealkiri {
    text-align: center;
}  

.Säilitamine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 60%;
    height: 400px; 
}


.tabel1 {
    width: 100%;
}
.tabel1 table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tabel1 td, .tabel1 th {
    background-color: #61677A;
    color:#F1EFE9;
    border:2px solid #272829;
    padding: 0;
    margin: 0; 
}
