@import 'main.css';

html {
    scroll-behavior: smooth;
}

.sisu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: flex-start;
    
}

.video { 
    background: linear-gradient(to bottom, #3f3f3f, #fff);
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.video video{
    width: 1200px;
    height: auto;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    position: relative;
    transition: all 0.3s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    
}

.Toitumine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 1200px;
    height: auto;
    line-height: 1.6;
    color: #515357;
    font-size: 18px;  
}

.Toitumise_info {
    padding: 2rem;
    text-align: center;
}

.Toitumise_info p {
    font-size: 21px;
}


.toit_pealkiri {
    text-align: center;
    color:#272829;
    font-weight: bold;
    font-size: 32px;
    margin-top: 10px;
}

.toit_pealkiri:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #ADB6C4;
    margin: 10px auto;
    border-radius: 2px;
}

#toit_tabel_pealkiri {
    color: #272829;
    font-weight: bold;
    text-align: center;
    margin-top: 60px;
}

.list {
    margin-top: 40px;
    width: 100%;
    list-style-type:none;
    padding: 0rem;
    display: flex;
    justify-content: center;
}

.list li {
    background-color: #ADB6C4;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.list li:hover {
    background-color: #61677A; 
}

nav .list a{
    text-decoration: none;
}


.table-container {
    width: 100%;
    max-height: 70%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 1rem;
}

.table-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden; 
    

}

.table-container td, .table-container th{
    background-color: #61677A;
    color:#F1EFE9;
    border:1px solid #272829;
    padding: 1rem;
    vertical-align: middle;
    word-wrap: break-word;
    height: auto;
    
}

.Säilitamine, .Juurde_võt, .Langetamine {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 1200px;
    max-height: 100%;
}

.Säilitamine p, .Juurde_võt p, .Langetamine p {
    margin-left: 90px;
}

.divider_wrapper {
    background-color:#D9D9D9;
    width: 1200px;
    justify-self: center;
    padding-top: 40px;
    padding-bottom: 40px;

    
}
.divider_wrapper .divider{
    margin: 0 auto;
} 

.säilitamise_info, .langetamise_info{
    padding: 20px;
    font-size: 18px;
    line-height: 1.8;
    color: #515357;
    width: auto;
}

.juurde_võtmise_info {
    padding: 20px;
    font-size: 18px;
    line-height: 1.8;
    color: #515357;
    width: auto;
}

.arvud {
    color: rgb(139, 30, 30);
    font-weight: bold;
}

.esiletoodud {
    color: #272829;
    font-weight: bold;
}
.kalorid{
    background-color: #545969;
    padding: 2px 8px;
    border-radius: 4px;
}

#Juurde_võtmise_pealkiri, .säilitamise_pealkiri, .langetamise_pealkiri{
    color:#272829;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    font-weight: bold;
}

#Juurde_võtmise_pealkiri:after, .säilitamise_pealkiri:after, .langetamise_pealkiri:after{
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #ADB6C4;
    margin: 10px auto;
    border-radius: 2px;
}

.apid {
    padding: 2rem;
    margin-left: 90px;
    margin-right: 20px;
}
.Toitumisapid {
    width: 1200px;
    background-color: #D9D9D9;
    margin: 0 auto;
}
.Toitumisapid, p{
    font-size: 18px;
    line-height: 1.8;
}
.Toitumisapid, h2{
    font-weight: bold;
}

.Toitumisapid, h3{
    font-weight: bold;
    font-size: 24px;

}

.Toitumisapp {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.toitumisapp-body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
    
}

.toitumisapp-body .applogo {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}
.applogo {
    width: 10%;
    height: auto;
}

.toitumisapp-body .tekst {
    width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}









