body {
    font-family: 'Raleway';
    background-color: #FFF;
    padding: 0;
    margin: 0;
}

.header {
    background: #ADB6C4;
    display: flex;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    width: 100%;
}

.header img {
    padding-left: 10px;
    width: 60px;
    height: 60px;
}

.header h1 {
    padding-left: 10px;
    color: #272829;
    font-size: 26px;
    font-weight: 900;
}

.header-item ul {
    padding-left: 620px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    list-style: none;
}

.header-item a {
    color: #272829;
    font-size: 20px;
    font-weight: 300;
    display: inline-block;
    transition: transform 0.3s, color 0.3s;
    text-decoration: none;
}

.header-item a:hover {
    transform: scale(1.05);
    color: #e6e8eb;
}

.footer {
    background: #ADB6C4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: nowrap;
}

.footer p {
    margin: 0;
    white-space: nowrap;
}

.footer img {
    margin-left: 10px;
    width: 80px;
    height: 80px;
}


.Treenimine {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 900px;
    height: 100%;
}

.videodiv {
    width: 100%;
    background: linear-gradient(to bottom, #3f3f3f, #f0f0f0);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.videodiv video {
    width: 900px;
    height: auto;
}

.Sissejuhatus {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.Treenimine h1, h2, h3, p {
    text-align: justify;
    line-height: 1.5;
    padding: 0 10px;
    width: 80%
}

.Treenimine h1{
    color:#272829;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.Treenimine h2 {
    color:#272829;
    font-size: 24px;
    font-weight: bold;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.Treenimine h3 {
    color:#272829;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.Treenimine p {
    color:#272829;
    font-size: 19px;
    margin-top: 10px;
    margin-left: 50px;
    margin-bottom: 10px;
}

.Treenimine h4{
    color:#272829;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.Treenimine p1 {
    color:#272829;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.Treenimine .divider {
    border-top: 2px solid #4F505B;
    margin: 30px auto;
    width: 85%;
}


.Treenimine .trennikava {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.trennikava-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #272829;
    border-radius: 30px;
    margin-bottom: 5px;
}

.trennikava-body .day {
    display: flex;
    width: 40%;
    font-size: 18px;
    color: #272829;
    font-weight: 600;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 170px;
}

.trennikava-body .harjutused {
    width: 55%;
    font-size: 16px;
    color: #272829;
    font-weight: normal;
    text-align: left;
    min-height: 170px;
}

.trennikava-body .harjutused ul {
    list-style: none;
    padding-left: 0;
}

.trennikava-body .harjutused ul li {
    margin: 10px 0;
}

.Treenimine .trenniapp {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.trenniapp-body {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 5px;
}

.trenniapp-body .applogo {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
}

.trenniapp-body .tekst {
    width: 65%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
