* {
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #272829;
}

body {
    font-family: 'Raleway', 'sans-serif';
    background-color: #fff;
    padding: 0px;
    margin: 0px;
}


.sisu {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-content: flex-start;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background: #ADB6C4;
}

.header img{
    
    padding: 10px;
    width: 60px;
    height: 60px;
}

.name{
    width: min-content;
    font-weight: 600;
}
.push {
    margin-right: auto;
}

.menu{
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: inline-flex;
    list-style: none;
}

.menu li{
    margin: 0 15px;
    transition: transform 0.3s, color 0.3s;
}

.menu li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 300;
}

.menu li a:hover {
    transform: scale(1.05);
    color: #e6e8eb;
}

.video { 
    background: linear-gradient(to bottom, #3f3f3f, #fff);
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
}

.video video{
    width: 70%;
    height: auto;
}

.reveal {
    opacity: 0;
    transform: translateY(50px);
    position: relative;
    transition: all 2s ease;
}
.reveal.active{
    transform: translateY(0px);
    opacity: 1;
    
}

.Toitumine {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    flex-direction: column;
    background-color: #D9D9D9;
    width: 70%;
    height: auto;
    border-bottom: 1px solid #515357;
    line-height: 1.6;
    color: #515357;
    font-size: 18px;
    
    
}

.toit_pealkiri {
    text-align: center;
    color:#272829;
    font-weight: bold;
}

.toit_pealkiri:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #ADB6C4;
    margin: 10px auto;
    border-radius: 2px;
}

#toit_tabel_pealkiri {
    color: #272829;
    font-weight: bold;
}

.list {
    width: 30%;
    list-style-type:none;
    padding: 0.7rem;
}
.list li {
    background-color: #ADB6C4;
    margin: 0.5rem 0;
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s ease;
}
.list li:hover {
    background-color: #61677A; 
}

.table-container {
    width: 100%;
    max-height: 70%;
    margin: 0 auto;
    flex-grow: 1;
    padding: 1rem;
}

.table-container table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    table-layout: 2rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 10px; 
    overflow: hidden; 
    

}

.table-container td, .table-container th{
    background-color: #61677A;
    color:#F1EFE9;
    border:1px solid #272829;
    padding: 1rem;
    vertical-align: middle;
    word-wrap: break-word;
    height: auto;
    
}

.Säilitamine, .Juurde_võt, .Langetamine {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-direction: row;
    background-color: #D9D9D9;
    width: 70%;
    max-height: 100%;  
}

.Säilitamine, .Juurde_võt {
    border-bottom: 1px solid #515357;
    
}

.säilitamise_info, .langetamise_info{
    padding: 20px;
    border-left: 4px solid #ADB6C4;
    font-size: 18px;
    line-height: 1.8;
    color: #515357;
    width: auto;
}

.juurde_võtmise_info {
    padding: 20px;
    border-right: 4px solid #ADB6C4;
    font-size: 18px;
    line-height: 1.8;
    color: #515357;
    width: auto;
}

.arvud {
    color: rgb(139, 30, 30);
    font-weight: bold;
}

.esiletoodud {
    color: #272829;
    font-weight: bold;
}
.kalorid{
    background-color: #545969;
    padding: 2px 8px;
    border-radius: 4px;
}

#Juurde_võtmise_pealkiri, .säilitamise_pealkiri, .langetamise_pealkiri{
    color:#272829;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    font-weight: bold;
}
#Juurde_võtmise_pealkiri:after, .säilitamise_pealkiri:after, .langetamise_pealkiri:after{
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    background-color: #ADB6C4;
    margin: 10px auto;
    border-radius: 2px;
}




.footer{
    display: flex;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    background: #ADB6C4;
    border-top: #272829 1px solid;
}

.footer ul{
    list-style: none;
}

.footer ul li{
    margin: 0 15px;
}

.footer img{
    margin: auto;
    padding-right: 20px;
    width: 90px;
    height: 90px;
}